<div id="<%= dom_id situation %>">
  <p>
    <strong>Name:</strong>
    <%= situation.name %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= situation.slug %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= situation.description %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= situation.active %>
  </p>

</div>
