<div id="<%= dom_id sport %>">
  <p>
    <strong>Name:</strong>
    <%= sport.name %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= sport.slug %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= sport.description %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= sport.active %>
  </p>

</div>
