<div id="<%= dom_id formation %>">
  <p>
    <strong>Name:</strong>
    <%= formation.name %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= formation.slug %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= formation.description %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= formation.active %>
  </p>

</div>
