<div id="<%= dom_id side %>">
  <p>
    <strong>Name:</strong>
    <%= side.name %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= side.slug %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= side.description %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= side.active %>
  </p>

</div>
